<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>Hi, I’m Kenzie — an upcoming Data Analyst with a passion for transforming data into insights that actually matter. I’m driven by curiosity, patterns, and the challenge of turning raw information into clear stories that help people make smarter decisions. Here, you’ll find a collection of projects that highlight my growing skills in SQL, Power BI, Excel, and data storytelling. Each project reflects the way I approach data work: with a problem-solving mindset, attention to detail, and a genuine excitement for understanding the “why” behind the numbers.

I’m currently focused on building real-world, business-focused analyses — from dashboards and KPI reports to data cleaning case studies and trend insights. My goal is to become the type of analyst who not only delivers accurate data, but also communicates it in a way that drives action and sparks conversation.

Thanks for stopping by — feel free to explore my work, connect with me, or reach out if you want to collaborate or chat about data!</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://www.youtube.com/watch?v=2qBlE2-WL60" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
