<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="header-image" src="https://www.canva.com/design/DAG4nyNzK_A/z1wiiLJbeXPJ_IeCfNZ0uA/edit?utm_content=DAG4nyNzK_A&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
